.options_main_container{
    margin: 2rem;
    animation: move1 2s;
    position: absolute;
    overflow: hidden;
}
@keyframes move1 {
    from {bottom: -100vh;}
    to {bottom: -3vh;}
  }
.option_container{
    width: 40em;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
    column-gap: 2rem;
    color: #fff;
    border: 2px solid #fff;
    padding: 2rem 0;
    justify-content: center;
}   


.option_container input{
    margin-left: 20px;
}
.color_input input{
    width: 3rem;
    height: 3rem;    
    border: none;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}
.file_input{
    width: fit-content;
}
.file_input label{
background-color:#8c8c8c;
color:#fff;
border:1px solid #8c8c8c;
padding:5px;
border-radius:6px;
box-shadow:1px 1px 3px #000;
margin:10px;
cursor: pointer;
}
.file_input label:hover{
background-color:#c9cccb;
}
.color_tab{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4rem;
}
.option_tab{
    color: #000;
    width: 100%;
    display: flex;
}
.option_tab span{
    padding: 10px 0;
    border-right: 1px solid gray;
    background-color: transparent;
    width: 50%;
    cursor: pointer;
    color: #fff;
    border: 2px solid #fff;
    transition: ease 0.5s;
}
.option_tab span:hover{
    background-color: #CCCCCC;
}
.option_tab2{
    display: grid;
    grid-gap: 2rem;
    text-align: left;
}
.option_tab2 input{
    float: right;
}
.value_tab{
    display: grid;
    grid-gap:1rem;
}
.value_tab{
    text-align: left;
    color: #87C4FD;
}
.value_tab input{
    float: right;
    width: 100%;
    border: 0;
    border-bottom: 1px solid gray;
    outline: 0;
    font-size: 1rem;
    color: white;
    padding: 2px 0;
    background: transparent;
    transition: border-color 0.2s;
}
@media only screen and (max-width: 768px) {
    .option_container{
        width: 80vw;
        margin: auto;
        text-align: center;
    }
}